*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    width: 100%;
}
#container{
    width: 100%;
    height: 80vh;
    background:#F0F2F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;

}
#facebook-logo{
    margin:100px 200px;
     /* margin: 0 auto;  */
    justify-content: center;
    align-items: flex-end;
}
.heading-div h2{
    font-size: 4rem;
    color: #1877F2;
    line-height:6rem;
    margin: 0 10px;
}
.facebook-text{
    width: 100%;
}
.facebook-text h3{
    font-size: 1.5rem;
    word-wrap: break-word;
    line-height:2rem;
    margin: 0 10px;
    word-spacing: 10px;
    text-align: justify;
    font-weight: 500;
}
#account-form{
    margin-top:100px;
    margin-right: 200px;
    /* padding: 100px 300px;  */
    justify-content: center;
    align-content: flex-start;
    padding: 50px;
}
#account-form .form{
    background: #FFFFFF;
    height: 45vh;
    width: 25vw;
    border-radius: 5px;
    box-shadow: 2px 5px 10px 5px #DCDCDC;
    /* margin: 50px; */
    
    
}
.form .form-group{
    margin:10px 10px;
    padding: 10px;
}
 .form-group .form-control{
    width: 100%;
    height: 50px;
    border: 1px solid #DCDCDC;
    opacity: 1;
    padding: 5px;
    border-radius: 5px;
}
.form-control:focus{
    border-color: #1877F2;
    outline: 0;
}
.btn{
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}
/* .create-account{
    width:auto;
    padding: 50px;
} */
 #create-btn{
    background: #36A420;
    color: #fff;
    border: none;
    border-radius: 5px;
    display: inline-block;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    /* margin-top: 10px;
    margin-left: 80px; */
    /* justify-content: center; */
    font-weight: 700;
    margin: 0 80px;


}
 #login-btn{
     
     width: 90%;
    background-color: #166FE5;
    border: none;
    /* outline: 0; */
    /* border-color: 1px solid #166FE5; */
    color: #fff;
    /* padding: 0 16px; */
    /* justify-content: center;
    align-items: center; */
    line-height: 3rem;
    margin: 10px 20px;
    border-radius: 5px;

    
    
}
#login-btn:focus{
    outline: 0;
}
.forget-password{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    /* justify-content: center;
    align-items: center; */
    /* text-align: justify; */
}
.forget-password .password-link{
    text-decoration: none;
    padding: 10px 10px;
    /* justify-content: center;
    align-items: center; */
    width: 60%;
    margin: 30px 100px;
    color: #1877F2;
}
hr{
    opacity: 0.5;
    width: 90%;
    margin-top: 20px;
}
.create-page-text{
    margin-top: 50px;
}
.create-page-text p{
    justify-content: center;
    text-align: center;
}
.create-page-text a{
    text-decoration: none;
}
strong{
    color: #000;
}
